<div class="container">
  <h1>Hero Form</h1>
  <form #heroForm="ngForm"
        (submit)="onSubmit()"
        [hidden]="isSubmitted">
    <div class="form-group">
      <label for="name">Name</label>
      <input id="name" class="form-control"
             required
             [(ngModel)]="model.name" name="name"
             #name="ngModel">
      <div [hidden]="name.valid || name.pristine"
           class="alert alert-danger">
          The name is required
      </div>
    </div>
    <div class="form-group">
      <label for="alterEgo">Alter Ego</label>
      <input id="alterEgo" class="form-control"
             [(ngModel)]="model.alterEgo" name="alterEgo">
    </div>

    <div class="form-group">
      <label for="power">Hero Power</label>
      <select id="power" class="form-control" required
              [(ngModel)]="model.power" name="power">
        <option *ngFor="let pow of powers" [value]="pow">{{pow}}</option>
      </select>
    </div>

    <button class="btn btn-success"
            (click)="newHero();heroForm.reset()"
            [disabled]="!heroForm.form.valid">New hero</button>

    <button type="submit" class="btn btn-success"
            [disabled]="!heroForm.form.valid">Submit</button>

    <div class="alert alert-info mt-1">
      {{diagnostic}}
    </div>
  </form>
  <div [hidden]="!isSubmitted">
    <h2>You submitted the following:</h2>
    <div class="row">
      <div class="col-xs-3">Name</div>
      <div class="col-xs-9  pull-left">{{ model.name }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Alter Ego</div>
      <div class="col-xs-9 pull-left">{{ model.alterEgo }}</div>
    </div>
    <div class="row">
      <div class="col-xs-3">Power</div>
      <div class="col-xs-9 pull-left">{{ model.power }}</div>
    </div>
    <br>
    <button class="btn btn-primary" (click)="isSubmitted=false">Edit</button>
  </div>
</div>
